{% extends 'empregado/base.html' %}
{% load static %}

{% block content %}

    {% if lista_supervisores %}
        
        <section id="banner">

            <div class="inner">

                <header>
                    <h2>Supervisores</h2>
                </header>
                <footer>
                    {% for supervisor in lista_supervisores %}
                        <ul class="buttons vertical">
                            <li><a href="{% url 'empregado:supervisor' supervisor.id %}" class="button fit scrolly">{{supervisor.nome_completo}}</a></li>
                        </ul>
                    {% endfor %}

                </footer>

            </div>

        </section>
    {% else %}
        <p>Nenhum supervisor registrado.</p>
    {% endif %}
    <ul class="buttons vertical">
        <li><a href="{% url 'empregado:criarSupervisor' %}" class="button special fit scrolly">Criar Supervisor</a></li>
    </ul>

{% endblock %}