{% extends 'empregado/base.html' %}
    {% load static %}

{% block content %}
    <section id="banner">

        <div class="inner">

            <header>
                <h2>Supervisor</h2>
            </header>
            <p>
                <strong>Nome Completo:</strong> {{supervisor}}
            </p>
            <p>
                <strong>Nome de Usuário:</strong> {{supervisor.nome_de_usuario}}
            </p>
            <p>
                <strong>E-mail:</strong> {{supervisor.email}}
            </p>
            <footer>
                {% for estagiario in supervisor.estagiario_set.all %}
                    <ul class="buttons vertical">
                        <li><a href="{% url 'empregado:estagiario' estagiario.id %}" class="button fit scrolly">{{estagiario}}</a></li>
                    </ul>
                {% endfor %}

                <ul class="buttons vertical">
                    <li><a href="{% url 'empregado:criarEstagiario' %}" class="button special fit scrolly">Criar Estagiário</a></li>
                </ul>

            </footer>

        </div>

    </section>
    <ul class="buttons vertical">
        <li><a href="{% url 'empregado:supervisores' %}" class="button fit scrolly">Voltar para a tela de Supervisores</a></li>
    </ul>
{% endblock %}